In [1]:
import pandas as pd
import psycopg2

In [2]:
try:
    conn = psycopg2.connect("dbname='data_analytics' user='nagavenkat' host='localhost' password='Mindman@1988'")
except:
    print "I am unable to connect to the database"

In [15]:
cur = conn.cursor()
cur.execute(""" SELECT * FROM "Chicago_crime_2001_present" LIMIT 10; """ )
rows = cur.fetchall()
print "\nShow me the databases:\n"
for row in rows:
    print "   ", row[0]

cur.execute(""" SELECT * FROM "Chicago_crime_2001_present" LIMIT 10; """ )
rows = cur.fetchall()
print "\nShow me the databases:\n"
for row in rows:
    print "   ", row[0]

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [16]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://nagavenkat:Mindman@1988@localhost:5432/data_analytics')
# df.to_sql('table_name', engine)

In [17]:
reader=pd.read_csv('chicago crime/Crimes_-_2001_to_present_-_Map.csv',chunksize=5000)
k=1
for df in reader:
    print k
    df.to_sql('Chicago_crime_2001_present', engine,flavor='mysql',if_exists='append')
    k=k+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175

KeyboardInterrupt:

In [ ]:
#Using pandas to read the table
df=pd.read_sql("Chicago_crime_2001_present",engine)

In [ ]:
# or provide a sql query to read only select columns and rows
sql_query="""  """
df=pd.read_sql_query(sql_query,engine)

In [20]:
print df.columns
print df.dtypes
print df.head()

CREATE TABLE "Chicago_crime_2001_present" 
("Case Number" char(15), Date date, Block char(30), IUCR char(5),
"Primary Type" char(50), Description varchar, "Location Description" char(50), 
 Arrest boolean,Domestic boolean,Beat integer,Ward float,"FBI Code" char(5),
 "X Coordinate" float,"Y Coordinate" float,Year integer,Latitude float,
Longitude float,Location varchar);
# Copy data from your CSV file to the table:

# COPY zip_codes FROM '/path/to/csv/ZIP_CODES.txt' DELIMITER ',' CSV;

Index([u'Case Number', u'Date', u'Block', u'IUCR', u'Primary Type',
       u'Description', u'Location Description', u'Arrest', u'Domestic',
       u'Beat', u'Ward', u'FBI Code', u'X Coordinate', u'Y Coordinate',
       u'Year', u'Latitude', u'Longitude', u'Location'],
      dtype='object')
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
Ward                    float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Latitude                float64
Longitude               float64
Location                 object
dtype: object
  Case Number                    Date                Block  IUCR  \
0    HY128267  01/25/2015 12:15:00 PM     015XX W 120TH ST  1310
1    HY128229  01/25/2015 02:00:00 PM    097XX S ELLIS AVE  1780
2    HY128319  01/25/2015 03:42:00 PM  070XX S ASHLAND AVE  0860
3    HY128346  01/23/2015 05:00:00 PM  056XX S ABERDEEN ST  0610
4    HY128340  01/24/2015 06:30:00 AM  016XX W JUNEWAY TER  4387

                 Primary Type                  Description  \
0             CRIMINAL DAMAGE                  TO PROPERTY
1  OFFENSE INVOLVING CHILDREN                OTHER OFFENSE
2                       THEFT                 RETAIL THEFT
3                    BURGLARY               FORCIBLE ENTRY
4               OTHER OFFENSE  VIOLATE ORDER OF PROTECTION

            Location Description Arrest Domestic  Beat  Ward FBI Code  \
0  RESIDENTIAL YARD (FRONT/BACK)  False    False   524  34.0       14
1                          OTHER  False     True   511   8.0       26
2             GROCERY FOOD STORE   True    False   735  17.0       06
3                      RESIDENCE  False    False   712  16.0       05
4                      APARTMENT   True     True  2422  49.0       26

   X Coordinate  Y Coordinate  Year   Latitude  Longitude  \
0     1168063.0     1825145.0  2015  41.675728 -87.660492
1     1184597.0     1840660.0  2015  41.717933 -87.599490
2     1166897.0     1858031.0  2015  41.765997 -87.663823
3     1169944.0     1867436.0  2015  41.791740 -87.652382
4     1163867.0     1951492.0  2015  42.022525 -87.672290

                        Location
0  (41.675727948, -87.660491717)
1  (41.717932873, -87.599490277)
2   (41.765997125, -87.66382344)
3  (41.791739951, -87.652382148)
4  (42.022525464, -87.672290154)