In [1]:
import pandas as pd
import psycopg2
import os
import subprocess as sbp
import pdb

def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [ ]:
try:
    conn = psycopg2.connect("dbname='data_analytics' user='nagavenkat' host='localhost' password='Mindman@1988'")
except:
    print "I am unable to connect to the database"

In [ ]:
# try:
#     conn.close()
# except:
#     pass
# try:
#     conn = psycopg2.connect("dbname='data_analytics' user='nagavenkat' host='localhost' password='Mindman@1988'")
# except:
#     print "I am unable to connect to the database"
    
# cur = conn.cursor()
# cur.execute(""" USE data_analytics;""" )
# cur.execute(""" SELECT * FROM "Chicago_crime_2001_present" LIMIT 10; """ )
rows = cur.fetchall()
print "\nShow me the databases:\n"
for row in rows:
    print "   ", row[0]

# cur.execute(""" SELECT * FROM "Chicago_crime_2001_present" LIMIT 10; """ )
# rows = cur.fetchall()
# print "\nShow me the databases:\n"
# for row in rows:
#     print "   ", row[0]

In [2]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://nagavenkat:Mindman@1988@localhost:5432/data_analytics')
# df.to_sql('table_name', engine)

In [ ]:
fname='chicago crime/Crimes_-_2001_to_present.csv'
reader=pd.read_hdf('chicago crime/Crimes_-_2001_to_present_comp.h5',chunksize=50000)
# cols={
#     ID                       int64
# Case Number   Crimes_-_2001_to_present_comp.h5           object
# Date                     object
# Block                    object
# IUCR                     object
# Primary Type             object
# Description              object
# Location Description     object
# Arrest                     bool
# Domestic                   bool
# Beat                      int64
# District                  int64
# Ward                    float64
# Community Area          float64
# FBI Code                 object
# X Coordinate            float64
# Y Coordinate            float64
# Year                    float64
# Updated On               object
    
# 'Beat' :                     'int64',
# 'District'     :             'int64',
# 'Ward'         :           'float64',
# 'Community Area' :         'float64',
# 'X Coordinate'     :       'float64',
# 'Y Coordinate'     :       'float64',
# 'Year'              :      'float64',
# 'Latitude'           :     'float64',
# 'Longitude'           :    'float64',
#      }

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('chicago_crime', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
fname='divvy_set_1/Divvy_historical.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('divvy_current', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
fname='divvy_set_1/Divvy_Trips.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('divvy_Trips', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
fname='german_credit/german_credit.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('(','').replace(')','').replace('\\','_').replace('/','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('german_credit', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
fname='business_lisences_chicago/Business_Licenses_-_Current_Active.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    df.fillna(value=-1,inplace=True)
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('(','').replace(')','').replace('\\','_').replace('/','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('chicago_business_license', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
fname='zip_codes_city_state_county.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    df.fillna(value=-1,inplace=True)
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('(','').replace(')','').replace('\\','_').replace('/','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('zipcodes', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
fname='gre_gpa/logistic_regression_gre_gpa_rank_admit.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    df.fillna(value=-1,inplace=True)
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('(','').replace(')','').replace('\\','_').replace('/','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('gre_gpa', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [6]:
fname='direct_lending_club_data/lending_club_data.h5'
df=pd.read_hdf(fname,'loandict')
df.to_sql('lending_club_dict', engine,flavor='mysql',if_exists='append')

In [4]:
fname='direct_lending_club_data/lending_club_data.h5'
df=pd.read_hdf(fname,'loandata')
cols=df.dtypes

Index([u'id', u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv',
       u'term', u'int_rate', u'installment', u'grade', u'sub_grade',
       u'emp_title', u'emp_length', u'home_ownership', u'annual_inc',
       u'verification_status', u'issue_d', u'loan_status', u'pymnt_plan',
       u'url', u'desc', u'purpose', u'title', u'zip_code', u'addr_state',
       u'dti', u'delinq_2yrs', u'earliest_cr_line', u'inq_last_6mths',
       u'mths_since_last_delinq', u'mths_since_last_record', u'open_acc',
       u'pub_rec', u'revol_bal', u'revol_util', u'total_acc',
       u'initial_list_status', u'out_prncp', u'out_prncp_inv', u'total_pymnt',
       u'total_pymnt_inv', u'total_rec_prncp', u'total_rec_int',
       u'total_rec_late_fee', u'recoveries', u'collection_recovery_fee',
       u'last_pymnt_d', u'last_pymnt_amnt', u'next_pymnt_d',
       u'last_credit_pull_d', u'collections_12_mths_ex_med',
       u'mths_since_last_major_derog', u'policy_code', u'application_type',
       u'annual_inc_joint', u'dti_joint', u'verification_status_joint',
       u'acc_now_delinq', u'tot_coll_amt', u'tot_cur_bal', u'open_acc_6m',
       u'open_il_6m', u'open_il_12m', u'open_il_24m', u'mths_since_rcnt_il',
       u'total_bal_il', u'il_util', u'open_rv_12m', u'open_rv_24m',
       u'max_bal_bc', u'all_util', u'total_rev_hi_lim', u'inq_fi',
       u'total_cu_tl', u'inq_last_12m'],
      dtype='object')

In [ ]:
fname='direct_lending_club_data/loan.csv'
reader=pd.read_csv(fname,chunksize=1000)

k=1
for df in reader:
    print k
    for cc in cols.keys():
        df[cc]=df[cc].astype(cols[cc])
        
    df.fillna(value=-1,inplace=True)
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('(','').replace(')','').replace('\\','_').replace('/','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('lending_club_data', engine,flavor='mysql',if_exists='append')
    except:
        pass
    k=k+1

In [ ]:
fname='direct_lending_club_data/LoanStats3a.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    df.fillna(value=-1,inplace=True)
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('(','').replace(')','').replace('\\','_').replace('/','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('lending_club_stats', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
fname='direct_lending_club_data/RejectStatsA.csv'
reader=pd.read_csv(fname,chunksize=50000)

k=1
for df in reader:
    print k
#     for cc in cols.keys():
#         df[cc]=df[cc].astype(cols[cc])
    df.fillna(value=-1,inplace=True)
    for cc in df.columns:  
        df.rename(columns={cc:cc.replace(' ','_').replace('(','').replace(')','').replace('\\','_').replace('/','_').replace('\xef','').replace('\xbb','').replace('\xbf','').replace(' ','_')},
                  inplace=True)
    try:
        df.to_sql('lending_club_reject', engine,flavor='mysql',if_exists='append')
    except:
        pdb.set_trace()
    k=k+1

In [ ]:
# or provide a sql query to read only select columns and rows
sql_query="""  """
df=pd.read_sql_query(sql_query,engine)

In [ ]:
print df.columns
print df.dtypes
print df.head()

CREATE TABLE "Chicago_crime_2001_present" 
("Case Number" char(15), Date date, Block char(30), IUCR char(5),
"Primary Type" char(50), Description varchar, "Location Description" char(50), 
 Arrest boolean,Domestic boolean,Beat integer,Ward float,"FBI Code" char(5),
 "X Coordinate" float,"Y Coordinate" float,Year integer,Latitude float,
Longitude float,Location varchar);
# Copy data from your CSV file to the table:

# COPY zip_codes FROM '/path/to/csv/ZIP_CODES.txt' DELIMITER ',' CSV;